# Algorithm
/Algorithm/.idea/
/Algorithm/Sort/.idea/
/Algorithm/Sort/Sort.iml
/Algorithm/Sort/lib/
/Algorithm/Sort/out/
# /Algorithm/Sort/test/
/Algorithm/Sort.iml

# Array
/Array/.idea/
/Array/out/
/Array/src/META-INF/
/Array/Array.iml

# BinarySearchTree
/BinarySearchTree/.idea/
/BinarySearchTree/out/
/BinarySearchTree/BinarySearchTree.iml

# Linkedlist
/Linkedlist/.idea/
/Linkedlist/jars/
/Linkedlist/out/
/Linkedlist/Linkedlist.iml

# Queue
/Queue/.idea/
/Queue/out/
/Queue/Queue.iml

# StackAndQueue
/StackAndQueue/.idea/
/StackAndQueue/out/
/StackAndQueue/StackAndQueue.iml

# testignore
/testignore/